  <section class="section section-submenu">
      <div class="container is-vertical-center">
        <div class="content-title">{{page.product}}</div>
        <div class="content-version">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-rounded is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="arrow">6.1.1</span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  Version 7.0
                </a>
                <a class="dropdown-item">
                  Version 7.1
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  Community
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs is-right">
          <ul>
            <li class="is-active">
              <a>Reference</a>
            </li>
            <li>
              <a>Tutorials</a>
            </li>
            <li>
              <a>API</a>
            </li>
            <li>
              <a>Release Notes</a>
            </li>
            <li>
              <a>Supported platforms</a>
            </li>
          </ul>
        </div>
      </div>
    </section>