  <section class="section section-submenu">
      <div class="container is-vertical-center">
        <div class="content-title">{{page.product}}</div>
        <div class="content-version">
        {% unless page.versions == nil %}
          <div class="dropdown is-clickable" id="version-selector">
            <div class="dropdown-trigger">
              <button class="button is-rounded is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="arrow">{{page.version}}</span>
              </button>
            </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">

                {% assign versions = page.versions | compact | sort | reverse %}
                {% for v in versions %}
                
                {%if v == page.version%}
                {%assign current = " is-active" %}
                {%else%}
                {%assign current = "" %}
                {%endif%}

                {%if page.latest == true%}
                {%assign replace_version = "latest"%}
                {%else%}
                {%assign replace_version = page.version%}
                {%endif%}                

                {% if forloop.first == true %}

                <a href="{{page.url | replace: replace_version, "latest"}}" class="dropdown-item{{current}}">
                  <span>{{v}}</span><span class="tag is-success">Latest</span>
                </a>

                {% else %}

                <a href="{{page.url | replace: replace_version, v}}" class="dropdown-item{{current}}">
                  <span>{{v}}</span>
                </a>

                {% endif %}
                
                {% endfor %}

                {% if page.product == "Alfresco Content Services" and page.version != "community" %}
                <hr class="dropdown-divider">

                {% if page.latest == true %}

                <a href="{{page.url | replace: "latest", "community"}}" class="dropdown-item" >Community</a>

                {% else %}

                <a href="{{page.url | replace: page.version, "community"}}" class="dropdown-item">Community</a>

                {% endif %}
                {% endif %}
              </div>
            </div>


          </div>

        {% endunless %}

        </div>
        <div class="tabs is-right">
          <ul>
{%capture pagebase%}/{{page.location}}/{% if page.latest == true %}latest{%else%}{{page.version}}{%endif%}/{%endcapture%}

{% unless page.tutorial == nil and page.api == nil and page.support == nil and page.release == nil %}
<li class="{%if pagebase == page.url %}is-active{%endif%}">
    <a href="{{pagebase}}">Reference</a>
</li>
{% endunless %}

{% if page.tutorial == true %}
{% capture href %}{{pagebase}}tutorial/{%endcapture%}
<li class="{%if href == page.url %}is-active{%endif%}">
    <a href="{{href}}">Tutorials</a>
</li>
{% endif %}

{% if page.api == true %}
{% capture href %}{{pagebase}}api/{%endcapture%}
<li class="{%if href == page.url %}is-active{%endif%}">
    <a href="{{href}}">APIs</a>
</li>
{% endif %}

{% if page.support == true %}
{% capture href %}{{pagebase}}support/{%endcapture%}
<li class="{%if href == page.url %}is-active{%endif%}">
    <a href="{{href}}">Supported Platforms</a>
</li>
{% endif %}

{% if page.release == true %}
{% capture href %}{{pagebase}}release/{%endcapture%}
<li class="{%if href == page.url %}is-active{%endif%}">
    <a href="{{href}}">Release Notes</a>
</li>
{% endif %}     

          </ul>
        </div>
      </div>
    </section>