<div class="dropdown">
  <button class="dropbtn">Version: {{page.version}} {% if page.latest == true %}(Latest){% endif %}</button>
  <div class="dropdown-content">



{% assign versions = page.versions | compact | sort | reverse %}

{% for item in versions %}

{% unless item == page.version %}

{% if page.latest == true %}


    <a href="{{page.url | replace: "latest", item}}">{{item}}</a>


{% elsif forloop.first == true %}

    <a href="{{page.url | replace: page.version, "latest"}}">{{item}} (Latest)</a>


{% else %}


    <a href="{{page.url | replace: page.version, item}}">{{item}}</a>


{% endif %}
{% endunless %}
{% endfor %}


  </div>
</div>
