<section class="section has-background-light">
      <footer class="footer container">
        <div class="columns links">
          <div class="column"></div>
          <div class="column">
            <small>Community</small>
            <ul>
              <li><a href="#">Alfresco Community</a></li>
              <li><a href="#">Search Services</a></li>
              <li><a href="#">Content Application</a></li>
              <li><a href="#">Activity</a></li>
            </ul>
          </div>
          <div class="column">
            <small>Additional resources</small>
            <ul>
              <li><a href="#">Customer and Partner Support</a></li>
              <li><a href="#">Alfresco University</a></li>
              <li><a href="#">Alfresco UI writing guidelines</a></li>
            </ul>
          </div>
        </div>
        <div class="columns copyright">
          <div class="column"><img src="/assets/img/alfresco-logo.svg"/></div>
          <div class="column">
            <small>© 2020 Alfresco Software, Inc. All Rights Reserved.</small>
          </div>
          <div class="column">
            <a href="#">Legal</a>
            <a href="#">Privacy</a>
          </div>
        </div>
      </footer>
    </section>  

<script src="/assets/js/init.js"></script>
