  <!-- Footer -->
  <footer class="small py-4">
      <div class="container">
        <div class="row justify-content-md-between">
          <div class="col-md-12 col-lg-4 mb-4 mr-lg-auto">

  
     
  
        <div class="row">
          <div class="col-md-7">
            <p class="small font-weight-light mb-md-0">&copy; 2020 <a class="text-black" href="https://alfresco.com/">Alfresco</a></p>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Footer -->


      <!-- JS Global Compulsory -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/assets/vendor/jquery-ui/jquery-ui.core.min.js"></script>
  <script src="/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
  <script src="/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
  <script src="/assets/vendor/prism/prism.js"></script>

  <!-- JS -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/custom-scrollbar.js"></script>
