<section class="section has-background-light footer-container">
      <footer class="footer container">
        <div class="columns links">
          <div class="column">
            <p><b>Additional resources</b></p>
            <ul>
              <li><a href="https://hub.alfresco.com/" target="_blank">Alfresco Forums</a></li>
              <li><a href="https://university.hyland.com/" target="_blank">Hyland University</a></li>
              <li><a href="https://github.com/Alfresco/docs-alfresco/tree/master/_archive/" target="_blank">Legacy Documentation</a></li>
            </ul>
          </div>
          <div class="column">
            <p><b>Support resources</b></p>
            <ul>
                <li><a href="/support/latest/" target="_blank">Support Handbook</a></li>
                <li><a href="https://community.hyland.com/" target="_blank">Customer Support Portal</a></li>
            </ul>
          </div>
        </div>
        <div class="columns copyright">
          <div class="column">
            <small>© {{ 'now' | date: "%Y" }} Hyland Software, Inc. and its affiliates. All rights reserved. All Hyland product names are registered or unregistered trademarks of Hyland Software, Inc. or its affiliates in the United States and other countries.</small>
          </div>
          <div class="column extra-links">
            <a href="https://www.hyland.com/en/legal/terms-of-use" target="_blank">Terms of Use</a>
            <a href="https://www.hyland.com/en/legal/privacy-policy" target="_blank">Website Privacy Policy</a>
            <a href="/documentation-notice/" target="_blank">Documentation Notice</a>
          </div>
        </div>
      </footer>
    </section>  
    <div class="notif-box">
      <div id="cookies-notif" class="notif"><span>By clicking "Accept Cookies", you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. <a href="https://www.hyland.com/en/legal/privacy-policies/cookie-policy">View Cookie Policy</a>.</span><button>Accept Cookies</button></div>
    </div>
<script src="/assets/js/init.js"></script>
