<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="/assets/img/favicon16x16.png" />
    <title>
      Alfresco Docs {%if page.title != nil %}- {{page.title}}{% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/bulma.css" />
    <link rel="stylesheet" href="/assets/css/highlight-default.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    
    <script src="/assets/js/searchbar.js"></script>
    <script src="/assets/js/tooltip.js"></script>
    <script src="/assets/js/tabs.js"></script>
    <script src="/assets/js/tocspy.js"></script>
    <script src="/assets/js/searchresults.js" data-elastic="{{site.elasticsearch.url}}" data-index="{{site.elasticsearch.index_name}}"></script>

    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/assets/css/main.css" />
    {% if site.analytics != nil %}
    {% include analytics_head.html %}
    {% endif %}
  </head>