<head>

<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Stylesheet -->

	<link rel="stylesheet" href="/assets/css/styles.css">
	

<!-- Favicon and Title generation -->

	<link rel="icon" type="image/png" href="/assets/img/logo.png"/>

	<title>Alfresco Docs - {{page.title}}</title>


<!-- CSS Implementing Plugins -->

<link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="/assets/vendor/prism/prism.css">
<link rel="stylesheet" href="/assets/css/styles.css">

</head>