<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="/assets/img/logo.png" />
    <title>
      Alfresco Docs {%if page.title != nil %}- {{page.title}}{% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/bulma.css" />
    
    
    
    <script src="/assets/js/searchbar.js"></script>
    <script src="/assets/js/tooltip.js"></script>
    <script src="/assets/js/tabs.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>