<!-- Main Menu -->
<header class="section section-mainmenu">
  <nav aria-label="main navigation" class="navbar container" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.alfresco.com" target="_blank">
        <img class="icon-logo" src="/assets/img/hyland-alfresco-logos-horizontal-RGB.png" alt="Hyland | Alfresco logo"/>
      </a>

      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbaralfresco" role="button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-extra">
      {% if include.showsearch %}
      <a class="navbar-item" href="/" id="search-toggle">
        <i class="icon-search"></i>
      </a>
        
      {% endif %}
      
      {%assign langs = page.ref_page.loc_pages | where_exp: "item", "item.lang_config.files != page.lang_config.files"%}
      {%if langs.size > 0%}
      <div class="navbar-item has-dropdown is-hoverable" onclick="this.classList.toggle('is-active')">
        <a class="navbar-link">
          {{page.lang_config.name}}
        </a>


        <div class="navbar-dropdown is-boxed navbar-lang">
        {%for l in langs %}
        <a href="{{l.lang_config.url}}{{page.ref_page.url}}" class="navbar-item">
          {{l.lang_config.name}}
        </a>
        {%endfor%}
      </div>
    </div>  
    {%endif%}
    



    </div>

    <div class="navbar-menu" id="navbaralfresco">
      <div class="navbar-start">
        <div class="navbar-item">
          <a class="navbar-link is-arrowless" href="{{page.lang_config.url}}/">
            {%l Docs%}
          </a>
        </div>

      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            {%l Services%}
          </a>

          <div class="navbar-dropdown is-boxed navbar-smallsub navbar-applications">
            {%include submenu_small.html submenu=site.data.home.services%}

          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            {%l Integrations%}
          </a>

          <div class="navbar-dropdown is-boxed navbar-integrations">
            {%include submenu.html %}

          </div>
        </div>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            {%l Applications%}
          </a>

          <div class="navbar-dropdown is-boxed navbar-smallsub navbar-applications">
            {%include submenu_small.html submenu=site.data.home.applications%}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- End Main Menu -->