<!-- Main Menu -->
<header class="section section-mainmenu">
  <nav aria-label="main navigation" class="navbar container" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.hyland.com/en/products/alfresco-platform" target="_blank">
        <img class="icon-logo" src="/assets/img/hyland-alfresco-logos.png" alt="Hyland | Alfresco logo"/>
      </a>

      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbaralfresco" role="button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-extra">
      {% if include.showsearch %}
      <a class="navbar-item" href="/" id="search-toggle">
        <i class="icon-search"></i>
      </a>
        
      {% endif %}
      
<!-- Hide language dropdown

      <div class="navbar-item has-dropdown is-hoverable" onclick="this.classList.toggle('is-active')">
        <a class="navbar-link">
          Eng
        </a>


        <div class="navbar-dropdown is-boxed navbar-lang">
          <a href="/de/" class="navbar-item">
            Deutch
          </a>
          <a href="/sve/" class="navbar-item">
            Svenska
          </a>
        </div>
      </div>  

-->
    </div>

    <div class="navbar-menu" id="navbaralfresco">
      <div class="navbar-start">
        <div class="navbar-item">
          <a class="navbar-link is-arrowless" href="/">
            Docs
          </a>
        </div>

      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            Services
          </a>

          <div class="navbar-dropdown is-boxed navbar-smallsub navbar-applications">
            {%include submenu_small.html submenu=site.data.home.services%}

          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            Integrations
          </a>

          <div class="navbar-dropdown is-boxed navbar-integrations">
            {%include submenu.html %}

          </div>
        </div>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            Applications
          </a>

          <div class="navbar-dropdown is-boxed navbar-smallsub navbar-applications">
            {%include submenu_small.html submenu=site.data.home.applications%}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- End Main Menu -->