    <div class="control has-icons-left has-icons-right searchbar">
      <div class="dropdown-trigger">
        <input class="input" id="topsearch-input" placeholder="Search for references, tutorials..." type="text"/>
        <span class="icon is-left is-small">
          <i class="icon-search"></i>
        </span>
        <span class="icon is-right is-small search-clear is-hidden" id="topsearch-clear">
          <i class="icon-clear"></i>
        </span>
      </div>
      <div class="dropdown-menu" id="topsearch-dropdown-content" role="menu">
        <div class="dropdown-content">
          {{include.special}}
        </div>
      </div>
    </div>