{% capture specialoptions %}
          <a class="dropdown-item special"  id="localscope" data-placeholder="Start type to search..." data-value="current" data-url="/search#query/" href="#">
            <span class="hint">In: {{product}}</span>
            <span class="query"></span>
          </a>
          <a class="dropdown-item special" data-placeholder="Start type to search..." data-value="global" data-url="/search#query/" href="#">
            <span class="hint">In: All docs</span>
            <span class="query"></span>
          </a>
{% endcapture %}
<div class="searchbar-holder" id="searchbar-holder">
  <div class="container">
    {% include search.html special = specialoptions %}
    {% if include.close %}
    <a class="searchbar-close" href="#" id="search-close">Close</a>
    {% endif %}
    {% if include.back %}
    <a class="searchbar-back" href="#" id="search-back"></a>
    {% endif %}
    
  </div>
</div>
