<!-- Sidebar -->
<nav class="col-md-3 col-xl-2 bg-light duik-sidebar navbar-expand-md">
        <div class="d-flex d-md-none justify-content-between mb-5">

          <!-- Responsive Toggle Button -->
          <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
              <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
            </svg>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>

        <!-- Sidebar Nav -->
        <div class="collapse navbar-collapse" id="sidebar-nav">
          <div class="js-scrollbar duik-sidebar-sticky">



                <ul class="duik-sidebar__nav">
   

                        {% if page.audience != blank %}
                        
                        {% assign toc = site.data.toc.[page.location] | where: 'version', page.version | where: 'audience', page.audience %}
                        
                        {% else %}
                        
                        {% assign toc = site.data.toc.[page.location] | where: 'version',  page.version %}
                        
                        {% endif %}
                        
                        
                        
                        {% for entry in toc %}
                        {% for parent in entry.pages %}
                        
                        
                        <li class="duik-sidebar__item">
                        
                        {% if page.latest == true %}
                        
                            <a class="duik-sidebar__link" title="{{parent.title}}" href="{{site.url}}{{parent.path | replace: page.version, 'latest'}}">{{parent.title}}</a>
                        
                        {% else %}
                        
                        <a class="duik-sidebar__link" title="{{parent.title}}" href="{{site.url}}{{parent.path}}">{{parent.title}}</a>
                        
                        {% endif %}
                        
                        
                        <ul class="duik-sidebar__nav">
                        
                            {% for child in parent.pages %}
                        
                            <li class="duik-sidebar__item">
                        
                        {% if page.latest == true %}
                        
                        <a class="duik-sidebar__link" title="{{child.title}}" href="{{site.url}}{{child.path | replace: page.version, 'latest'}}">{{child.title}}</a>
                        
                        {% else %}
                        
                        <a class="duik-sidebar__link" title="{{child.title}}" href="{{site.url}}{{child.path}}">{{child.title}}</a>
                        
                        {% endif %}
                        
                        
                        <ul>
                        
                            {% for grandchild in child.pages %}
                        
                                <li class="duik-sidebar__item">
                        
                        {% if page.latest == true %}
                        
                        <a class="duik-sidebar__link" title="{{grandchild.title}}" href="{{site.url}}{{grandchild.path | replace: page.version, 'latest'}}">{{grandchild.title}}</a>
                        
                        {% else %}
                        
                        <a class="duik-sidebar__link" title="{{grandchild.title}}" href="{{site.url}}{{grandchild.path}}">{{grandchild.title}}</a>
                        
                        {% endif %}
                        
                            </li>
                        
                            {% endfor %}
                        </ul>
                        
                            </li>
                        
                            {% endfor %}
                        </ul>
                        
                        </li>
                        
                          {% endfor %}
                          {% endfor %}
                        
                        </ul>

          </div>
        </div>
        <!-- End Sidebar Nav -->
      </nav>
      <!-- End Sidebar --> 
   
   
