<!-- {% assign my_array = "integrations, services" | split: ", " %} -->
<div class="columns">
    {%assign subindex = 0%}
    {%for s in site.data.home.integrations %}
      {%if subindex > 3 %}
        </div><div class="columns">
        {%assign subindex = 0%}
      {%endif%}
      {% assign subindex = subindex | plus:1 %}
    <div class="column">
      <div class="container">
      <h1>{{s.title}}</h1>

      {%for ss in s.sub %}
        {%loc_safe_url {{ss.url}} {{page.lang}} class="navbar-item"%}{{ss.title}}{%endloc_safe_url%}
      {%else%}
        {%loc_safe_url {{s.url}} {{page.lang}} class="navbar-item"%}{{s.title}}{%endloc_safe_url%}
      {%endfor%}
      </div>
    </div>
    {%endfor%}

    {%if subindex > 0%}
    {% for item in (1..4) offset:subindex %}
      <div class="column">1</div>
    {% endfor %}
    {%endif%}
 </div>