{% assign tableId = include.tableid %}

<alfresco-contenttabs {%if tableId%}id="{{tableId}}" {%endif%}class="content-tabs">
  <div class="tabs is-small">
    <ul>

    {% for item in include   %}

      {% assign cut = item[0] | slice: 0, 3 %}
      {%  if cut == "opt" %}
        {% assign id = item[1] | prepend: prefix | slugify  %}
        {% assign tabname = item[1] %}
      {% endif %}

      {% assign cut = item[0] | slice: 0, 7 %}
      {% if cut == "content" %}
        {% assign tabcontent = item[1] %}
        <li data-tabholder="tab_{{id}}"><a href="#{{tableId}}/{{id}}" role="tab" data-tabid="{{id}}" data-toggle="content_{{id}}">{{tabname}}</a></li>
        <div class="tab-content" data-tabid="{{id}}" data-contentid="content_{{id}}">{{tabcontent | markdownify}}</div>
      {% endif %}


    {% endfor %}
    </ul>
  </div>
  <div class="contents"></div>
</alfresco-contenttabs>
