body {
  font-family: 'Raleway', sans-serif;
}

.header-container {
  width: 100%;
  margin: 0 auto;

}

.logo {
	float: left;
}

.header {
	background-color: rgba(0,129,198, 0.5);
	height: 60px;

}


.sub-nav {

	background-color: #0081c6;
	display: flex;
	align-items: center;
	height: 30px;


}

.product {
	background-color: #005ea5;
	height: 30px;
	width: 20%;


}

.nav-bar {


}

.nav-bar ul {

}

.nav-bar li {
	display: inline-block;

}


.column {
  float: left;
  height: 100%;
  overflow: auto;

}

.left {
	width: 20%;
	background-color: rgba(0,129,198, 0.5);

}


.right {
  width: 20%;
}

.middle {
  width: 60%;

}

.content-wrapper {
	padding: 10px;
}




.row:after {
  content: "";
  display: table;
  clear: both;
}



.dropbtn {
  background-color: rgba(0,129,198, 0.5);
  color: white;
  font-size: 16px;
  border: none;
  height: 60px;
}


.dropdown {

  float: right;
  width: 5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #005ea5;}
















.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



















.tabs{
    width: 600px;
    display: block;
    margin: 40px auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #4A83FD;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 600px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #303030;
    color: #DFDFDF;
    
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 400ms ease-out;
}