<!DOCTYPE html>
<html lang="en">

  {% include head.html %}


  <body>
    {% include searchbar.html close=true %}
    {% include mainmenu.html showsearch=true%}
    <!--submenu-->
    {% include docsmenu.html %}
    <!--content-->
    <section class="section section-content">
      <div class="container">
        <div class="columns">
          <div class="column is-narrow content-menu-column">
            <div class="left-side-menu"> 
                {% include toc.html %}
            </div>
          </div>
          <div class="column column-content">
            <div class="content">
                <h1>{{page.title}}</h1>
              <article>
                {{content}}
              </article>
            </div>
            <div class="columns content-rating">
              <div class="column">
                <h1>Was this page helpful?</h1>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button">
                      <span class="icon is-small icon-thumb-up"></span>
                    </button>
                  </div>
                  <div class="control">
                    <button class="button">
                      <span class="icon is-small icon-thumb-down"></span>
                    </button>
                  </div>
                </div>
                <p>We’re glad this article helped!</p>
                <form action="#">
                  <textarea placeholder="Anything else you'd like us to know?"></textarea>
                  <div class="control">
                    <button class="button is-primary" type="submit">Submit</button>
                  </div>
                </form>
              </div>
              <div class="column">
                <h1>Edit this page</h1>
                <a href="{{site.git-repo}}/{{page.path}}" target="_blank" class="github-link">Suggest an edit on Github</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    {%include footer.html %}


  </body>
</html>