<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

  {% include header.html %}

  <body class="bg-white">
1111
    
      <div class="container-fluid">
        <div class="row">
          {% if page.latest == true %}
          {% include toc-new.html %}
          {% else %}
          {% include toc.html %}
          {% endif %}
    
          <main class="ml-md-auto col-md-9 col-xl-10 px-4 pt-0 pt-md-11">
            <div class="row pt-3">
              <!-- Content Nav -->
              <div class="col-xl-2 order-xl-2 d-none d-xl-inline-block">
                
                {% if page.latest == true %}
                
                <div class="pl-2">
                <i class="fab fa-github"></i>
                <a class="mb-5" href="{{site.git-repo}}/{{page.path}}" target="_blank">Suggest an edit</a>
                </div>

                {% endif %}

                <ul class="js-scroll-nav duik-content-nav pt-5">
                  <li class="duik-content-nav__item"><a href="#xml">XML</a></li>
                  <li class="duik-content-nav__item">
                    <a href="#properties">Properties</a>
                    <ul>
                      <li class="duik-content-nav__item"><a href="#assignment">Assignment</a></li>
                      <li class="duik-content-nav__item"><a href="#due-date">Due date</a></li>
                      <li class="duik-content-nav__item"><a href="#multi-instance-type">Multi-instance type</a></li>
                      <li class="duik-content-nav__item"><a href="#priority">Priority</a></li>
                      <li class="duik-content-nav__item"><a href="#form-selector">Form selector</a></li>
                      <li class="duik-content-nav__item"><a href="#mapping-type">Mapping type</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- End Content Nav -->
    
              <!-- Content -->
              <div class="col-xl-10 order-xl-1 duik-content border-bottom">
                <div class="border-bottom mb-3">
                  <h1>{{page.title}}</h1>
                  
                </div>
    

{{content}}

    
            {% include footer.html %}

          </main>
        </div>
      </div>
    </body>
</html>
