<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

  {% include header.html %}

  <body class="bg-white">

    
      <div class="container-fluid">
        <div class="row">
         
          {% include sidebar.html %}
    
          <main class="ml-md-auto col-md-9 col-xl-10 px-4 pt-0 pt-md-11">
            <div class="row pt-3">
              <!-- Content Nav -->
              <div class="col-xl-2 order-xl-2 d-none d-xl-inline-block">
                <ul class="js-scroll-nav duik-content-nav">
                  <li class="duik-content-nav__item"><a href="#doc-about">About</a></li>
                  <li class="duik-content-nav__item"><a href="#doc-whats-included">What’s Included</a></li>
                  <li class="duik-content-nav__item"><a href="#doc-getting-started">Getting Started</a></li>
                  <li class="duik-content-nav__item"><a href="#doc-starter-template">Starter Template</a></li>
                  <li class="duik-content-nav__item">
                    <a href="#important-globals">Important globals</a>
                    <ul>
                      <li class="duik-content-nav__item"><a href="#html5-doctype">HTML5 doctype</a></li>
                      <li class="duik-content-nav__item"><a href="#responsive-meta-tag">Responsive tag</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- End Content Nav -->
    
              <!-- Content -->
              <div class="col-xl-10 order-xl-1 duik-content border-bottom">
                <div class="border-bottom mb-7">
                  <h1>{{page.title}}</h1>
                  
                </div>
    

{{content}}


    
            {% include footer.html %}

          </main>
        </div>
      </div>
    
      <!-- Go to Top -->
      <a class="js-go-to duik-go-to" href="javascript:;">
        <span class="fa fa-arrow-up duik-go-to__inner"></span>
      </a>
      <!-- End Go to Top -->
    
      <!-- JS Global Compulsory -->
      <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
      <script src="/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
      <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    
      <!-- JS Implementing Plugins -->
      <script src="/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/assets/vendor/jquery-ui/jquery-ui.core.min.js"></script>
      <script src="/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
      <script src="/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
      <script src="/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
      <script src="/assets/vendor/prism/prism.js"></script>
    
      <!-- JS -->
      <script src="/assets/js/main.js"></script>
      <script src="/assets/js/autocomplete.js"></script>
      <script src="/assets/js/custom-scrollbar.js"></script>
    </body>
</html>
