<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% if site.analytics != nil %}
    {% include analytics_body.html %}
    {% endif %}
    
    {% include mainmenu.html showsearch=false %}
    <!-- landing title section-->
    <section class="section section-mainsearch">
      <!-- banner section-->
      {% include migrated_banner.html %}
      <!-- /end banner section-->
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="landing-mainimage is-vertical-center"></div>
          </div>
          <div class="column">
            <div class="landing-section-header">
              <h1>Documentation</h1>
              <p >
                What can we help you find?
              </p>
{% capture specialoptions %}
          <a class="dropdown-item special" data-placeholder="Start typing to search..." data-value="global" data-url="/search#query//" href="#">
            <span class="hint">In: All docs</span>
            <span class="query"></span>
          </a>
{% endcapture %}              
              {% include search.html special=specialoptions %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /landing title section-->
                                                
    <!-- services section-->
    <section class="section section-landing has-background-light section-services">
      <div class="container">
        <h1>Services</h1>
          {% for s in site.data.home.services limit: 3 %}
        <div class="section-row">
        <div class="columns section-landing-element">
          <div class="column">
            <div class="container">
              <img height="72" src="{{s.image}}" width="72"/>
              <h1>{{s.title}}</h1>
            </div>
          </div>
          <div class="column">
            <p>{{s.text}}</p>
            <ul>
              {% for ss in s.sub %}
              <li>
                <a href="{{ss.url}}">{{ss.title}}</a>
              </li>
              {% endfor %}
            </ul>  
          </div>

        </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- /services section-->
    <!-- integrations section -->
    <section class="section section-landing section-integrations">
      <div class="container">
        <h1>Integrations</h1>
        {% for s in site.data.home.integrations %}
        <div class="section-row">
          <div class="columns">
            <div class="column">
              <div class="container section-landing-element">
                <img height="72" src="{{s.image}}" width="72"/>
                <h1>{{s.title}}</h1>
                {%if s.sub and s.sub.size > 0 %}
                  <p>{{s.text}}</p>
                {%endif%}
              </div>
            </div>
            <div class="column">
              <ul>
                {% for ss in s.sub %}
                <li><a href="{{ss.url}}"><h2>{{ss.title}}</h2><div>{{ss.text}}</div></a></li>
                {% else %}
                <li><a href="{{s.url}}"><div>{{s.text}}</div></a></li>
                {%endfor%}
              </ul>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </section>
    <!-- /intagration -->
    <!-- applications -->
    <section class="section section-landing section-applications">
      <div class="container">
        <h1>Applications</h1>
        {% for s in site.data.home.applications %}
        <div class="section-row">
          <div class="columns">
            <div class="column">
              <div class="container section-landing-element">
                <img height="72" src="{{s.image}}" width="72"/>
                <h1>{{s.title}}</h1>
              </div>
            </div>
            <div class="column">
              <ul>
              {% if s.text %}
                {% if s.url %}
                <li class="description"><a href="{{s.url}}"><p>{{s.text}}</p></a></li>
                {% else %}
                <li class="description"><p>{{s.text}}</p></li>
                {% endif%}
              {% endif %}
              {% if s.sub.size > 0 %}
                {% for ss in s.sub%}
                <li><a href="{{ss.url}}"><h2>{{ss.title}}</h2></a></li>
                {% endfor %}
              </ul>
              {% endif %}    
            </div>
          </div>
        </div>    
        {%endfor%}
      </div>
    </section>

    <!-- /applications -->
    <!-- footer -->
    {%include footer.html %}
  </body>
</html>