<!DOCTYPE html>
<html lang="en">

  {% include head.html %}


  <body>
    {% include searchbar.html back=true %}
    <!--content-->
    <section class="section section-search section-content">
      <div class="container">
        <div class="columns">
          <div class="column is-narrow content-menu-column">
            <div class="left-side-menu">
            <ul>
              <li>
                <a class="is-active" href="#">What's new</a>
              </li>
              <li>
                <a href="#">Supported Platforms</a>
              </li>
              <li>
                <a href="#">Video tutorials</a>
                <ul>
                  <li>
                    <a href="#">Using Alfresco Share</a>
                  </li>
                  <li>
                    <a href="#">Deploying</a>
                  </li>
                  <li>
                    <a href="#">Upgrading</a>
                    <ul>
                      <li><a href="#">Administering</a></li>
                      <li><a href="#">Developer guide</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Troubleshooting</a>
              </li>
              <li>
                <a href="#">Reference</a>
              </li>
              <li>
                <a href="#">Copyright</a>
              </li>
            </ul>
            </div>
          </div>
          <div class="column column-content">
              {{content}}
          </div>

        </div>
      </div>
    </section>
    {%include footer.html %}


  </body>
</html>