<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <script>
      const path = window.location.hash;
      const scope = path.split("/");
      let product,version = null;
      if (scope.length>2) {
        const s = decodeURIComponent(scope[1]).split("/")
        window.searchScope = {
          product: s[0],
          version: s[1],
        }
      }
    </script>
    {% include searchbar.html back=true %}
    <!--content-->
    <section class="section section-search section-content">
      <div class="container">
        <div class="columns">
          <div class="column is-narrow content-menu-column">
            <div class="left-side-menu">
              <button class="button close-toc" onclick="tocToggler()">
                <span class="icon is-small">
                  <img src="/assets/img/clear_24px.svg">
                </span>
                <span>Filters</span>
              </button>
              <ul id="leftside-menu" class="scope-selector">
              {%for group in site.data.scopes%}
                <li class="">
                <span  class="menuitem-title">{{group[1].title}}</span>
                <span class="expand-button"></span>
                <ul>

                {% for scope in group[1].scopes %}
                <li class="">
                  <a href="/search#query/{{scope[0]}}/" data-scope="{{scope[0]}}">{{scope[1]}}</a>
                </li>
                {%endfor%}
                </ul>
                </li>
              {%endfor%}
            </ul>
            </div>
          </div>
          <div class="column column-content">
            <button class="button is-rounded" id="table-of-contents" onclick="tocToggler()">Filters</button>
            {{content}}
          </div>

        </div>
      </div>
    </section>
    {%include footer.html %}


  </body>
</html>