<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <script>
      const path = window.location.hash;
      const scope = path.split("/");
      let product,version = null;
      if (scope.length>2) {
        const s = decodeURIComponent(scope[1]).split("/")
        window.searchScope = {
          product: s[0],
          version: s[1],
        }
      }
    </script>
    {% include searchbar.html back=true %}
    <!--content-->
    <section class="section section-search section-content">
      <div class="container">
        <div class="columns">
          <div class="column is-narrow content-menu-column">
            <div class="left-side-menu">
            <ul id="scope-selector">
              {% for scope in site.data.scopes %}
              <li class="">
                <a href="/search#query/{{scope[0]}}/" data-scope="{{scope[0]}}">{{scope[1]}}</a>
              </li>
              {%endfor%}
            </ul>
            </div>
          </div>
          <div class="column column-content">
              {{content}}
          </div>

        </div>
      </div>
    </section>
    {%include footer.html %}


  </body>
</html>