/* ------------------------------------------
Create new classes and override existing ones 
------------------------------------------ */

/* Class to style tooltip text */

.alf-glossary {
  color: #FF6B00
}

/* Override tooltip styling */

.tooltip-inner {
  color: #fff;
  background: #545863;
  position: relative;
  margin-bottom: 1rem;
  border-width: 1px 1px 1px 0.25rem;
  border-color: #e7eaf3;
  border-style: solid;
  border-radius: 0.25rem;
  border-left-color: #FFC600;
}

.tooltip.show {
  opacity: 1.0;
}

/* Override dropdown menu styling */

.dropdown-menu {
  border-left: solid 0.25rem #FFC600;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Override links to Alfresco blue */

a {
  color:#2A7DE1;
}

/* Override table styling */

th {
  color: #fff;
  background-color:  #00953B;
  border-color: #454d55;
}

th,
td {
  padding: 0.3rem;
  border: 1px solid #e7eaf3;
  border-bottom-width: 2px;
}

table {
  border: 1px solid #e7eaf3;
}

tr:hover {
  background-color: #e7eaf3;
}

/* Override first occurrence of italics in a table cell to green */

tr em:first-of-type {
  color: #FF6B00;
}

/* Classes to style homepage tiles */

.alf-home-primary {
  border-left: solid 0.25rem #76BC21;
}

.alf-home-secondary {
  border-left: solid 0.25rem #2A7DE1;
}

.alf-home-info {
  border-left: solid 0.25rem #FFC600;
}

.alf-home-success {
  border-left: solid 0.25rem #FF9015;
}

/* Class to style border on homepage search */

.alf-home-search {
  border: solid 0.25rem #00953B;
}





/* Classes to style code blocks */

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #f5f7ff;
	color: #5e6687;
	border-radius: 4px;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #dfe2f1;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #dfe2f1;
}

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #898ea4;
}

.token.punctuation {
	color: #5e6687;
}

.token.namespace {
	opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
	color: #c76b29;
}

.token.property {
	color: #c08b30;
}

.token.tag {
	color: #3d8fd1;
}

.token.string {
	color: #22a2c9;
}

.token.selector {
	color: #6679cc;
}

.token.attr-name {
	color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: #ac9739;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #22a2c9;
}

.token.placeholder,
.token.variable {
	color: #3d8fd1;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #202746;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #c94922;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: 0.4em solid #c94922;
	outline-offset: .4em;
}

.line-numbers .line-numbers-rows {
	border-right-color: #dfe2f1;
}

.line-numbers-rows > span:before {
	color: #979db4;
}

.line-highlight {
	background: rgba(107, 115, 148, 0.2);
	background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
	background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}

/* Class to override inline code */

code.highlighter-rouge {
	background-color: #f5f7ff;
  color: #00754A;
} 
